[*.{rb,erb}]
charset = utf-8
end_of_line = lf
indent_style = space
indent_size = 2
insert_final_newline = true
trim_trailing_whitespace = true

[*.{js,jsx}]
indent_style = space
indent_size = 2

[*.{css,scss,sass}]
indent_style = space
indent_size = 2
